@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Showsatron - Welcome To The World Of Entertainment</h1>
    <p>Link to the source code of index view of AccountInfoes Controller <a href="https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/AccountInfoes/Index.cshtml" target="_blank">https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/AccountInfoes/Index.cshtml</a>.</p>
</div>
