@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Showsatron - Welcome To The World Of Entertainment</h1>
    <p>Link to the source code of index view of AccountInfoes Controller <a href="https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/AccountInfoes/Index.cshtml" target="_blank">https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/AccountInfoes/Index.cshtml</a>.</p>
    <p>Link to the source code of index view of Genres Controller <a href="https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/Genres/Index.cshtml" target="_blank">https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/Genres/Index.cshtml</a>.</p>
    <p>Link to the source code of index view of Platforms Controller <a href="https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/Platforms/Index.cshtml" target="_blank">https://github.com/TwishaChachra/Showsatron/blob/master/Showsatron/Views/Platforms/Index.cshtml</a>.</p>
    <p>This is the hub for your entertainment choices. You can enter a new OTT Platform if you like. You could also play around with an existing one. You can find your subscription price too which can make your decision of choosing the right OTT platform much easier.</p>
</div>
